.o_calendar_filter {
    --calendarFilter-icon--plain: url("/timeoff_calendar_status_colors/static/src/img/plain_validated_dark.svg");
    --calendarFilter-icon--hatched: url("/timeoff_calendar_status_colors/static/src/img/hatched_pending_dark.svg");
    --calendarFilter-icon--line: url("/timeoff_calendar_status_colors/static/src/img/line_refused_dark.svg");
}
